[project]
	description = workspace for wsa
[access "refs/*"]
	owner = group user/guptanitish (guptanitish)
[access "refs/for/refs/*"]
	read = group user/guptanitish (guptanitish)
	push = group user/guptanitish (guptanitish)
	label-Code-Review = -2..+2 group user/guptanitish (guptanitish)
	label-Verified = -1..+1 group user/guptanitish (guptanitish)
	rebase = group user/guptanitish (guptanitish)
	removeReviewer = group user/guptanitish (guptanitish)
	submit = group user/guptanitish (guptanitish)
[access "refs/heads/*"]
	read = group user/guptanitish (guptanitish)
	create = group user/guptanitish (guptanitish)
	push = +force group user/guptanitish (guptanitish)
	pushMerge = group user/guptanitish (guptanitish)
[access "refs/tags/*"]
	push = +force group user/guptanitish (guptanitish)
	pushTag = group user/guptanitish (guptanitish)
	pushSignedTag = group user/guptanitish (guptanitish)
